/*页脚a标签字体颜色*/

#footer-wrap a {
    color: #00c4b6;
}

/*修复添加up酱后图标上移的bug*/

.fas {
    line-height: 2;
}

/*页脚自定义字段字体颜色*/

.footer_custom_text {
    color: #fcac00;
}

/*a标签颜色*/

a {
    color: rgb(109, 109, 109);
}

a:hover {
    color: rgb(255, 0, 0);
}

/*头部文字颜色*/

#nav a {
    color: #ffffff;
}

/*文章透明*/

.layout_post>#post {
    background: rgba(255, 255, 255, .3);
}
hr {
    border: 2px dashed orange;
}
hr::before {
    color: orange;
}
/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/

@media screen and (max-width: 800px) {

    #aside_content .sticky_layout .card-announcement .card-content,
    #aside_content .sticky_layout .card-recent-post .card-content,
    #aside_content .sticky_layout .card-categories .card-content,
    #aside_content .sticky_layout .card-tags .card-content,
    #aside_content .sticky_layout .card-archives .card-content,
    #aside_content .sticky_layout .card-widget:nth-child(1),
    #aside_content .sticky_layout .card-widget:nth-child(2),
    #aside_content .sticky_layout .card-widget:nth-child(4),
    #aside_content .sticky_layout .card-widget:nth-child(6) {
        display: none;
        font-size: 13px;
    }
    #recent-posts .recent-post-item {
        padding: 1%;
        flex-direction: row;
    }

    #recent-posts .recent-post-item .post_cover {
        width: 70%;
        height: 80px;
    }

    #recent-posts .recent-post-item .recent-post-info {
        font-size: 10px;
        padding: 0 0 0 2%!important;
    }

    #recent-posts .recent-post-item .recent-post-info .content {
        -webkit-line-clamp: 1;
    }
    
}
@media screen and (max-width: 520px){
    /* 评论昵称，邮箱宽输入框宽度 */
    .item3>.vnick,
    .item3>.vmail {
        width: 50%!important;
    }
    /* 评论网址输入框隐藏 */
    .vlink {
        display: none;
    }
    /* 评论框卡通人物 */
    .vedit>textarea {
        background-size: 40px 40px!important;
    }
    /* 评论文字下边距 */
    .comment-head{
        margin-bottom: 0!important;
    }
    /* 小剪刀外边距 */
    hr {
        margin: 0.5rem auto;
    }
    /* 页面内边距 */
    #page {
        padding: 0.8rem 0.7rem !important;
    }
    /* 评论框提交按钮 */
    .vrow {
        padding: 5px 0!important;
    }
    /* 评论框回复按钮 */
    .vat {
        font-size: 0.5rem!important;
    }
    .vcontent {
        padding-top: 0rem!important;
    }
    .vcard {
        padding-top: 0.25rem!important;
    }
    .vcard>.vh {
        padding-bottom: 0!important;
    }
}